<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Issue an ivoice - Invoce blanks for free!</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
  </head>
  <body>
    <div class="container">
      <h1><%= lang.h1%></h1>
      <form action="/" method="POST">
        <label for="lang"><%= lang.form.label%></label>
        <select id="lang" name="selectLang">
          <option value="en" selected><%= lang.form.select[0]%></option>
          <option value="fr"><%= lang.form.select[2]%></option>
          <option value="it"><%= lang.form.select[7]%></option>
          <option value="es"><%= lang.form.select[3]%></option>
          <option value="de"><%= lang.form.select[4]%></option>
          <option value="bg"><%= lang.form.select[1]%></option>
          <option value="pl"><%= lang.form.select[6]%></option>
          <option value="gr"><%= lang.form.select[5]%></option>
        </select>
        <input type="submit" name="submit" value="<%= lang.form.submit%>">
      </form>
      <div class="auth">
        <h4 id="lab"><%= lang.login%></h4>
        <a id="fb" href="/facebook">Facebook</a>
        <a id="goo" href="/google">Google</a>
        <a id="lg" href="/login"><%= lang.buttons.sIn%></a>
        <a id="reg" href="/register"><%= lang.buttons.sUp%></a>
      </div>
    </div>
  </body>
</html>
